body {
  background-image:url("Image/background.png");
  background-repeat:no-repeat;
  background-position:center;
  height:100vh;
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  text-align:center;
  color:white;
  font-size:70px;
}
h2 {
  color:yellow;
  font-size:50px;
}
.container {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  gap:30px;
  justify-content:center;
}
button {
  display:block;
  margin: 20px auto;
  color:white;
  background-color:purple;
  border-color:purple;
  border-radius:15px;
  width:105px;
  height:70px;
}
button:hover {
  transform:scale(1.1);
  opacity:0.3s;
}
.card {
  background-color:black;
  border-radius:15px;
  width:300px;

}
img {
  width:100%;
  border-radius:15px;
}